# Default ignored files
/../../../:MD1-Tạo danh sách lớp/.idea/shelf/
/../../../:MD1-Tạo danh sách lớp/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:MD1-Tạo danh sách lớp/.idea/httpRequests/
